:root {
  --font: "Inter", sans-serif;
  --font-color: #000000;
  --main-color: #1070fc;
  --background-color: #ffffff;
}

$breakpoint-sm: 479px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow: auto;
  font-family: var(--font);
}

#root {
  height: 100%;
}

a {
  color: var(--font-color);
}
