html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: auto;
  line-height: 1;
}

div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time,
input,
textarea,
iframe,
button,
ul,
dl,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

ol,
ul {
  list-style: none;
}
